@import url("https://fonts.googleapis.com/css?family=PT+Sans");

body {
  background-color: #dcdcdc;
  padding: 30px 20px;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

li {
  margin: 1em auto;
  padding: 20px;
  background-color: white;
  color: #333;
  border-radius: 10px
}

.app {
  width: 400px;
  color: #333;
  padding: 10px;
  text-align: center;
  margin: auto;
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

span {
  font-size: 20px;
  vertical-align: middle;
}

.ttl {
  letter-spacing: .1em;
}

p {
  padding: 0;
  margin: .5em 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

input,
button {
  margin: 5px;
  font-size: 15px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 30px;
}

textarea {
  height: 80px;
  font-size: 16px;
  margin: auto;
  width: 92%;
  padding: .5em;
}

.done p {
  display: none
}

.btn {
  display: inline-block;
  color: #fff;
  border-radius: 10px;
  padding: .1em .3em;
  text-decoration: none;
  background: #dcdcdc;
  margin-left: 10px;
  font-size: 14px;
}

.btn:hover {
  opacity: 0.6;
}

.active .btn {
  background: rgb(100, 184, 233);
}